{
  "openapi": "3.1.0",
  "info": {
    "title": "VerseDB API Documentation",
    "description": "REST API for accessing comic book data, managing collections, and building integrations with VerseDB.",
    "version": "1.0.0",
    "license": {
      "name": "VerseDB API Terms of Service",
      "url": "https://versedb.com/policy/terms"
    }
  },
  "servers": [
    {
      "url": "https://versedb.com"
    }
  ],
  "tags": [
    {
      "name": "Discovery",
      "description": "\nDynamic content discovery endpoints for the home screen and new releases.\n\nThese endpoints provide curated and time-sensitive content like upcoming releases,\nFOC (Final Order Cutoff) deadlines, and new first issues."
    },
    {
      "name": "Titles",
      "description": "\nEndpoints for browsing comic book titles (franchises/properties).\n\nA title represents a franchise (e.g., \"Batman\"), which may have multiple series under it."
    },
    {
      "name": "Series",
      "description": "\nEndpoints for browsing and searching comic book series.\n\nA series represents a specific volume or run of a title (e.g., \"Amazing Spider-Man (2018)\")."
    },
    {
      "name": "Issues",
      "description": "\nEndpoints for browsing and searching comic book issues.\n\nAn issue is a single publication in a series (e.g., \"Amazing Spider-Man #1\")."
    },
    {
      "name": "Publishers",
      "description": "\nEndpoints for browsing comic book publishers."
    },
    {
      "name": "Imprints",
      "description": "\nEndpoints for browsing comic book imprints (publisher sub-brands, e.g.,\nVertigo under DC, Icon under Marvel)."
    },
    {
      "name": "Creators",
      "description": "\nEndpoints for browsing and searching comic book creators.\n\nCreators include writers, artists, colorists, letterers, editors, and other roles."
    },
    {
      "name": "Characters",
      "description": "\nEndpoints for browsing and searching comic book characters.\n\nCharacters include heroes, villains, and supporting characters across all publishers."
    },
    {
      "name": "Teams",
      "description": "\nEndpoints for browsing superhero teams and their members."
    },
    {
      "name": "Story Arcs",
      "description": "\nEndpoints for browsing story arcs and crossover events."
    },
    {
      "name": "Universes",
      "description": "\nEndpoints for browsing comic book universes (e.g., Marvel Universe, DC New 52)."
    },
    {
      "name": "Events",
      "description": "\nEndpoints for browsing comic conventions and store events."
    },
    {
      "name": "Key Issue Reasons",
      "description": "\nEndpoints for browsing key issue reasons (e.g., \"1st Appearance\", \"Death\", \"Origin\").\nThese are reusable labels that can be attached to issues to indicate significance."
    },
    {
      "name": "Comic Shops",
      "description": "\nEndpoints for finding and browsing comic book shops."
    },
    {
      "name": "Podcasts",
      "description": "\nEndpoints for browsing comic book podcasts and episodes."
    },
    {
      "name": "Lists",
      "description": "\nUser-generated and curated lists of comic content.\n\nLists allow users to organize and share collections of issues, series, characters, creators, teams, or story arcs.\nUsers can save and like lists, and lists can be ranked or unranked.\n\n**Entity Types:** issues, series, characters, creators, story_arcs, teams\n\n**List Types:**\n- `custom` - User-created lists\n- `system` - Platform-curated lists (no owner)\n- `wishlist` - User's default wishlist (cannot be deleted)"
    },
    {
      "name": "Barcode Lookup",
      "description": "\nEndpoints for looking up comics by barcode (UPC or ISBN).\nUsed by the mobile app's barcode scanning feature and exposed\nto User API tokens via the `lookup:barcode` ability.\n\nOn the Mobile API the GET lookups sit on the App Clip mode of the first-party\ndoor: a signed-in session gets the full payload, and the App Clip, which has no\naccount, gets the preview payload with its attested clip token (#3044). On the\npublic User API they require the `lookup:barcode` token ability, and carry no\nmarket quote."
    },
    {
      "name": "Reading",
      "description": ""
    },
    {
      "name": "User",
      "description": "\nEndpoints for managing the authenticated user's pull list, follows, and reading progress.\n\nAll endpoints in this group require authentication with a Bearer API token."
    },
    {
      "name": "Connect to VerseDB",
      "description": "\nLets a third-party site get a read-only token for a member's account without the member\ncopying one by hand. It is an OAuth 2.0 authorization-code flow with PKCE (S256).\n\n1. Generate a random `code_verifier` (43-128 characters) and a `state`, and keep both on your\n   server. The `code_challenge` is the base64url-encoded SHA-256 of the verifier, without padding.\n2. Send the member to `https://versedb.com/connect` with `redirect_uri`, `state`,\n   `code_challenge`, `code_challenge_method=S256`, and optionally `client_name` (your app, such as\n   `WordPress`, 40 characters at most), `site_name` (100 at most) and `scope` (a space-separated\n   subset of `read:public read:showcase`; both by default). `redirect_uri` must be HTTPS, or\n   `http://localhost` while developing.\n3. The member signs in if needed and approves or denies. VerseDB redirects to `redirect_uri` with\n   `code` and `state`, or with `error=access_denied` and `state` when they deny. Check that\n   `state` matches.\n4. Within 5 minutes, exchange the code here from your server.\n\nThe token is named \"{client_name}: {your host}\", lasts 365 days, shows in the member's My Apps\npage and counts toward their limit of 10 active tokens. Connecting the same site again replaces\nits previous token. `read:showcase` reads the member's profile, collection, wishlist, pull list and\nreading progress for display, without email, birth date, location, prices, notes, storage or loans."
    }
  ],
  "components": {
    "securitySchemes": {
      "default": {
        "type": "http",
        "scheme": "bearer",
        "description": "You can retrieve your token by visiting your dashboard and clicking <b>Generate API token</b>. The token should be prefixed with \"Bearer \".",
        "x-speakeasy-name-override": "token"
      }
    },
    "schemas": {
      "UnauthorizedError": {
        "type": "object",
        "properties": {
          "message": {
            "type": "string",
            "examples": [
              "Unauthenticated."
            ]
          }
        },
        "required": [
          "message"
        ]
      },
      "TooManyRequestsError": {
        "type": "object",
        "properties": {
          "message": {
            "type": "string",
            "examples": [
              "Too Many Attempts."
            ]
          }
        },
        "required": [
          "message"
        ]
      }
    }
  },
  "security": [
    {
      "default": []
    }
  ],
  "paths": {
    "/api/v1/discovery/foc": {
      "get": {
        "summary": "FOC deadlines.",
        "operationId": "fOCDeadlines",
        "description": "Returns issues with Final Order Cutoff (FOC) deadline within the next N days.\nFOC is when retailers must place final orders with distributors (typically 2 weeks before release).",
        "parameters": [
          {
            "in": "query",
            "name": "limit",
            "description": "Results per page (1-50).",
            "required": false,
            "schema": {
              "type": "integer",
              "description": "Results per page (1-50).",
              "examples": [
                10
              ]
            }
          },
          {
            "in": "query",
            "name": "page",
            "description": "Page number; meta.last_page says where the list ends.",
            "required": false,
            "schema": {
              "type": "integer",
              "description": "Page number; meta.last_page says where the list ends.",
              "examples": [
                1
              ]
            }
          },
          {
            "in": "query",
            "name": "days",
            "description": "FOC window in days (1-30).",
            "required": false,
            "schema": {
              "type": "integer",
              "description": "FOC window in days (1-30).",
              "examples": [
                7
              ]
            }
          },
          {
            "in": "query",
            "name": "start_date",
            "description": "Start of FOC window (YYYY-MM-DD). Defaults to today.",
            "required": false,
            "schema": {
              "type": "string",
              "description": "Start of FOC window (YYYY-MM-DD). Defaults to today.",
              "examples": [
                "2026-03-15"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "integer",
                            "examples": [
                              5432
                            ]
                          },
                          "number": {
                            "type": "string",
                            "examples": [
                              "1"
                            ]
                          },
                          "title": {
                            "type": "string",
                            "examples": [
                              "Amazing Spider-Man"
                            ]
                          },
                          "cover_url": {
                            "type": "string",
                            "examples": [
                              "..."
                            ]
                          },
                          "release_date": {
                            "type": "string",
                            "examples": [
                              "2024-02-01"
                            ]
                          },
                          "foc_date": {
                            "type": "string",
                            "examples": [
                              "2024-01-18"
                            ]
                          },
                          "series": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "integer",
                                "examples": [
                                  123
                                ]
                              },
                              "name": {
                                "type": "string",
                                "examples": [
                                  "Amazing Spider-Man"
                                ]
                              }
                            }
                          }
                        }
                      },
                      "examples": [
                        [
                          {
                            "id": 5432,
                            "number": "1",
                            "title": "Amazing Spider-Man",
                            "cover_url": "...",
                            "release_date": "2024-02-01",
                            "foc_date": "2024-01-18",
                            "series": {
                              "id": 123,
                              "name": "Amazing Spider-Man"
                            }
                          }
                        ]
                      ]
                    },
                    "meta": {
                      "type": "object",
                      "properties": {
                        "current_page": {
                          "type": "integer",
                          "examples": [
                            1
                          ]
                        },
                        "last_page": {
                          "type": "integer",
                          "examples": [
                            3
                          ]
                        },
                        "per_page": {
                          "type": "integer",
                          "examples": [
                            10
                          ]
                        },
                        "total": {
                          "type": "integer",
                          "examples": [
                            28
                          ]
                        },
                        "foc_window_days": {
                          "type": "integer",
                          "examples": [
                            7
                          ]
                        },
                        "foc_start": {
                          "type": "string",
                          "examples": [
                            "2024-01-15"
                          ]
                        },
                        "foc_end": {
                          "type": "string",
                          "examples": [
                            "2024-01-22"
                          ]
                        },
                        "note": {
                          "type": "string",
                          "examples": [
                            "FOC dates are estimates based on release_date - 14 days"
                          ]
                        }
                      }
                    }
                  },
                  "examples": [
                    {
                      "data": [
                        {
                          "id": 5432,
                          "number": "1",
                          "title": "Amazing Spider-Man",
                          "cover_url": "...",
                          "release_date": "2024-02-01",
                          "foc_date": "2024-01-18",
                          "series": {
                            "id": 123,
                            "name": "Amazing Spider-Man"
                          }
                        }
                      ],
                      "meta": {
                        "current_page": 1,
                        "last_page": 3,
                        "per_page": 10,
                        "total": 28,
                        "foc_window_days": 7,
                        "foc_start": "2024-01-15",
                        "foc_end": "2024-01-22",
                        "note": "FOC dates are estimates based on release_date - 14 days"
                      }
                    }
                  ]
                }
              }
            },
            "headers": {
              "X-RateLimit-Limit": {
                "description": "Request quota per hour for your tier.",
                "schema": {
                  "type": "integer",
                  "examples": [
                    300
                  ]
                }
              },
              "X-RateLimit-Remaining": {
                "description": "Requests remaining in the current window.",
                "schema": {
                  "type": "integer",
                  "examples": [
                    299
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthenticated. The bearer token is missing, invalid, or revoked.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedError"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded. This endpoint allows 300/hour (free) or 1,000/hour (PRO). Wait for the number of seconds in the `Retry-After` header before retrying.",
            "headers": {
              "Retry-After": {
                "description": "Seconds to wait before retrying.",
                "schema": {
                  "type": "integer",
                  "examples": [
                    3600
                  ]
                }
              },
              "X-RateLimit-Limit": {
                "description": "Request quota per hour for your tier.",
                "schema": {
                  "type": "integer",
                  "examples": [
                    300
                  ]
                }
              },
              "X-RateLimit-Remaining": {
                "description": "Requests remaining in the current window.",
                "schema": {
                  "type": "integer",
                  "examples": [
                    0
                  ]
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TooManyRequestsError"
                }
              }
            }
          }
        },
        "tags": [
          "Discovery"
        ]
      }
    },
    "/api/v1/discovery/upcoming-firsts": {
      "get": {
        "summary": "Upcoming #1 issues.",
        "operationId": "upcoming1Issues",
        "description": "Returns upcoming first issues (#1) from new ongoing series within the next N days.\nUseful for discovering new series launches.",
        "parameters": [
          {
            "in": "query",
            "name": "limit",
            "description": "Results per page (1-50).",
            "required": false,
            "schema": {
              "type": "integer",
              "description": "Results per page (1-50).",
              "examples": [
                10
              ]
            }
          },
          {
            "in": "query",
            "name": "page",
            "description": "Page number; meta.last_page says where the list ends.",
            "required": false,
            "schema": {
              "type": "integer",
              "description": "Page number; meta.last_page says where the list ends.",
              "examples": [
                1
              ]
            }
          },
          {
            "in": "query",
            "name": "days",
            "description": "Lookahead window in days (1-90).",
            "required": false,
            "schema": {
              "type": "integer",
              "description": "Lookahead window in days (1-90).",
              "examples": [
                60
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "integer",
                            "examples": [
                              9876
                            ]
                          },
                          "number": {
                            "type": "string",
                            "examples": [
                              "1"
                            ]
                          },
                          "title": {
                            "type": "string",
                            "examples": [
                              "New Series #1"
                            ]
                          },
                          "cover_url": {
                            "type": "string",
                            "examples": [
                              "..."
                            ]
                          },
                          "release_date": {
                            "type": "string",
                            "examples": [
                              "2024-02-15"
                            ]
                          },
                          "series": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "integer",
                                "examples": [
                                  456
                                ]
                              },
                              "name": {
                                "type": "string",
                                "examples": [
                                  "New Series"
                                ]
                              },
                              "status": {
                                "type": "string",
                                "examples": [
                                  "ongoing"
                                ]
                              },
                              "publication_type": {
                                "type": "string",
                                "examples": [
                                  "regular"
                                ]
                              }
                            }
                          }
                        }
                      },
                      "examples": [
                        [
                          {
                            "id": 9876,
                            "number": "1",
                            "title": "New Series #1",
                            "cover_url": "...",
                            "release_date": "2024-02-15",
                            "series": {
                              "id": 456,
                              "name": "New Series",
                              "status": "ongoing",
                              "publication_type": "regular"
                            }
                          }
                        ]
                      ]
                    },
                    "meta": {
                      "type": "object",
                      "properties": {
                        "lookahead_days": {
                          "type": "integer",
                          "examples": [
                            60
                          ]
                        },
                        "window_start": {
                          "type": "string",
                          "examples": [
                            "2024-01-15"
                          ]
                        },
                        "window_end": {
                          "type": "string",
                          "examples": [
                            "2024-03-15"
                          ]
                        }
                      }
                    }
                  },
                  "examples": [
                    {
                      "data": [
                        {
                          "id": 9876,
                          "number": "1",
                          "title": "New Series #1",
                          "cover_url": "...",
                          "release_date": "2024-02-15",
                          "series": {
                            "id": 456,
                            "name": "New Series",
                            "status": "ongoing",
                            "publication_type": "regular"
                          }
                        }
                      ],
                      "meta": {
                        "lookahead_days": 60,
                        "window_start": "2024-01-15",
                        "window_end": "2024-03-15"
                      }
                    }
                  ]
                }
              }
            },
            "headers": {
              "X-RateLimit-Limit": {
                "description": "Request quota per hour for your tier.",
                "schema": {
                  "type": "integer",
                  "examples": [
                    300
                  ]
                }
              },
              "X-RateLimit-Remaining": {
                "description": "Requests remaining in the current window.",
                "schema": {
                  "type": "integer",
                  "examples": [
                    299
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthenticated. The bearer token is missing, invalid, or revoked.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedError"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded. This endpoint allows 300/hour (free) or 1,000/hour (PRO). Wait for the number of seconds in the `Retry-After` header before retrying.",
            "headers": {
              "Retry-After": {
                "description": "Seconds to wait before retrying.",
                "schema": {
                  "type": "integer",
                  "examples": [
                    3600
                  ]
                }
              },
              "X-RateLimit-Limit": {
                "description": "Request quota per hour for your tier.",
                "schema": {
                  "type": "integer",
                  "examples": [
                    300
                  ]
                }
              },
              "X-RateLimit-Remaining": {
                "description": "Requests remaining in the current window.",
                "schema": {
                  "type": "integer",
                  "examples": [
                    0
                  ]
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TooManyRequestsError"
                }
              }
            }
          }
        },
        "tags": [
          "Discovery"
        ]
      }
    },
    "/api/v1/discovery/follow-updates": {
      "get": {
        "summary": "Follow updates.",
        "operationId": "followUpdates",
        "description": "Returns recent releases from the titles, characters, creators, and teams the user\nfollows. A Series is not followable — it reaches this feed through its Title, and\nevery volume of that title counts.\n\n`follow_contexts` and `follow_types` are top-level maps keyed by issue id: the\ncontext explains why the issue is shown (\"New in X-Men\"), the type is one of\n`title`, `character`, `creator`, `team`.",
        "parameters": [
          {
            "in": "query",
            "name": "days",
            "description": "Lookback window in days (1-90).",
            "required": false,
            "schema": {
              "type": "integer",
              "description": "Lookback window in days (1-90).",
              "examples": [
                30
              ]
            }
          },
          {
            "in": "query",
            "name": "page",
            "description": "Page number for pagination.",
            "required": false,
            "schema": {
              "type": "integer",
              "description": "Page number for pagination.",
              "examples": [
                1
              ]
            }
          },
          {
            "in": "query",
            "name": "per_page",
            "description": "Items per page (1-50).",
            "required": false,
            "schema": {
              "type": "integer",
              "description": "Items per page (1-50).",
              "examples": [
                20
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "integer",
                            "examples": [
                              5432
                            ]
                          },
                          "issue_number": {
                            "type": "string",
                            "examples": [
                              "26"
                            ]
                          },
                          "cover_url": {
                            "type": "string",
                            "examples": [
                              "..."
                            ]
                          },
                          "release_date": {
                            "type": "string",
                            "examples": [
                              "2026-03-04"
                            ]
                          },
                          "series": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "integer",
                                "examples": [
                                  123
                                ]
                              },
                              "name": {
                                "type": "string",
                                "examples": [
                                  "X-Men"
                                ]
                              },
                              "start_year": {
                                "type": "integer",
                                "examples": [
                                  2024
                                ]
                              }
                            }
                          }
                        }
                      },
                      "examples": [
                        [
                          {
                            "id": 5432,
                            "issue_number": "26",
                            "cover_url": "...",
                            "release_date": "2026-03-04",
                            "series": {
                              "id": 123,
                              "name": "X-Men",
                              "start_year": 2024
                            }
                          }
                        ]
                      ]
                    },
                    "follow_contexts": {
                      "type": "object",
                      "additionalProperties": {
                        "type": "string",
                        "examples": [
                          "New in X-Men"
                        ]
                      }
                    },
                    "follow_types": {
                      "type": "object",
                      "additionalProperties": {
                        "type": "string",
                        "examples": [
                          "title"
                        ]
                      }
                    },
                    "meta": {
                      "type": "object",
                      "properties": {
                        "days": {
                          "type": "integer",
                          "examples": [
                            30
                          ]
                        },
                        "total_follows": {
                          "type": "integer",
                          "examples": [
                            12
                          ]
                        },
                        "current_page": {
                          "type": "integer",
                          "examples": [
                            1
                          ]
                        },
                        "per_page": {
                          "type": "integer",
                          "examples": [
                            20
                          ]
                        },
                        "total": {
                          "type": "integer",
                          "examples": [
                            1
                          ]
                        },
                        "last_page": {
                          "type": "integer",
                          "examples": [
                            1
                          ]
                        }
                      }
                    }
                  },
                  "examples": [
                    {
                      "data": [
                        {
                          "id": 5432,
                          "issue_number": "26",
                          "cover_url": "...",
                          "release_date": "2026-03-04",
                          "series": {
                            "id": 123,
                            "name": "X-Men",
                            "start_year": 2024
                          }
                        }
                      ],
                      "follow_contexts": {
                        "5432": "New in X-Men"
                      },
                      "follow_types": {
                        "5432": "title"
                      },
                      "meta": {
                        "days": 30,
                        "total_follows": 12,
                        "current_page": 1,
                        "per_page": 20,
                        "total": 1,
                        "last_page": 1
                      }
                    }
                  ]
                }
              }
            },
            "headers": {
              "X-RateLimit-Limit": {
                "description": "Request quota per hour for your tier.",
                "schema": {
                  "type": "integer",
                  "examples": [
                    300
                  ]
                }
              },
              "X-RateLimit-Remaining": {
                "description": "Requests remaining in the current window.",
                "schema": {
                  "type": "integer",
                  "examples": [
                    299
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthenticated. The bearer token is missing, invalid, or revoked.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedError"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded. This endpoint allows 300/hour (free) or 1,000/hour (PRO). Wait for the number of seconds in the `Retry-After` header before retrying.",
            "headers": {
              "Retry-After": {
                "description": "Seconds to wait before retrying.",
                "schema": {
                  "type": "integer",
                  "examples": [
                    3600
                  ]
                }
              },
              "X-RateLimit-Limit": {
                "description": "Request quota per hour for your tier.",
                "schema": {
                  "type": "integer",
                  "examples": [
                    300
                  ]
                }
              },
              "X-RateLimit-Remaining": {
                "description": "Requests remaining in the current window.",
                "schema": {
                  "type": "integer",
                  "examples": [
                    0
                  ]
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TooManyRequestsError"
                }
              }
            }
          }
        },
        "tags": [
          "Discovery"
        ]
      }
    },
    "/api/v1/titles": {
      "get": {
        "summary": "List titles",
        "operationId": "listTitles",
        "description": "Returns: id, name, slug, start_year, end_year, status, type, image_url,\ncontent_rating_label, min_age, is_nsfw, series_count, issues_count,\naverage_rating, total_reviews",
        "parameters": [
          {
            "in": "query",
            "name": "q",
            "description": "Search by title name.",
            "required": false,
            "schema": {
              "type": "string",
              "description": "Search by title name.",
              "examples": [
                "spider-man"
              ]
            }
          },
          {
            "in": "query",
            "name": "publisher_id",
            "description": "Filter by publisher ID.",
            "required": false,
            "schema": {
              "type": "integer",
              "description": "Filter by publisher ID.",
              "examples": [
                1
              ]
            }
          },
          {
            "in": "query",
            "name": "publisher",
            "description": "Deprecated alias for publisher_id, kept for existing callers.",
            "required": false,
            "schema": {
              "type": "integer",
              "description": "Deprecated alias for publisher_id, kept for existing callers.",
              "examples": [
                1
              ]
            }
          },
          {
            "in": "query",
            "name": "publisher_ids",
            "description": "Comma-separated publisher IDs. Returns a title published by any one of them.",
            "required": false,
            "schema": {
              "type": "string",
              "description": "Comma-separated publisher IDs. Returns a title published by any one of them.",
              "examples": [
                "1,4"
              ]
            }
          },
          {
            "in": "query",
            "name": "hide_unreleased",
            "description": "Return only titles whose start year has already arrived.",
            "required": false,
            "schema": {
              "type": "boolean",
              "description": "Return only titles whose start year has already arrived.",
              "examples": [
                true
              ]
            }
          },
          {
            "in": "query",
            "name": "sort",
            "description": "Sort field. One of name, start_year, average_rating, cached_series_count, cached_issues_count; anything else falls back to name. Passing sort replaces the relevance ordering applied to q results.",
            "required": false,
            "schema": {
              "type": "string",
              "description": "Sort field. One of name, start_year, average_rating, cached_series_count, cached_issues_count; anything else falls back to name. Passing sort replaces the relevance ordering applied to q results.",
              "examples": [
                "start_year"
              ]
            }
          },
          {
            "in": "query",
            "name": "direction",
            "description": "Sort direction, asc or desc. Anything else falls back to asc.",
            "required": false,
            "schema": {
              "type": "string",
              "description": "Sort direction, asc or desc. Anything else falls back to asc.",
              "examples": [
                "desc"
              ]
            }
          },
          {
            "in": "query",
            "name": "limit",
            "description": "Number of results per page (max 50).",
            "required": false,
            "schema": {
              "type": "integer",
              "description": "Number of results per page (max 50).",
              "examples": [
                20
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "integer",
                            "examples": [
                              12
                            ]
                          },
                          "name": {
                            "type": "string",
                            "examples": [
                              "Batman"
                            ]
                          },
                          "slug": {
                            "type": "string",
                            "examples": [
                              "batman"
                            ]
                          },
                          "start_year": {
                            "type": "integer",
                            "examples": [
                              1939
                            ]
                          },
                          "end_year": {
                            "type": [
                              "string",
                              "null"
                            ],
                            "examples": [
                              null
                            ]
                          },
                          "status": {
                            "type": "string",
                            "examples": [
                              "ongoing"
                            ]
                          },
                          "type": {
                            "type": "string",
                            "examples": [
                              "Series"
                            ]
                          },
                          "image_url": {
                            "type": "string",
                            "examples": [
                              "https://r2.versedb.com/uploads/titles/batman-12/batman-12-abc123-cover_md.webp"
                            ]
                          },
                          "images": {
                            "type": "object",
                            "properties": {
                              "cover_sm": {
                                "type": "string",
                                "examples": [
                                  "https://r2.versedb.com/uploads/titles/batman-12/batman-12-abc123-cover_sm.webp"
                                ]
                              },
                              "cover_md": {
                                "type": "string",
                                "examples": [
                                  "https://r2.versedb.com/uploads/titles/batman-12/batman-12-abc123-cover_md.webp"
                                ]
                              },
                              "cover_lg": {
                                "type": "string",
                                "examples": [
                                  "https://r2.versedb.com/uploads/titles/batman-12/batman-12-abc123-cover_lg.webp"
                                ]
                              }
                            }
                          },
                          "average_rating": {
                            "type": "number",
                            "examples": [
                              4.3
                            ]
                          },
                          "series_count": {
                            "type": "integer",
                            "examples": [
                              25
                            ]
                          },
                          "issues_count": {
                            "type": "integer",
                            "examples": [
                              1450
                            ]
                          },
                          "content_rating_label": {
                            "type": "string",
                            "examples": [
                              "15+"
                            ]
                          },
                          "min_age": {
                            "type": "integer",
                            "examples": [
                              15
                            ]
                          },
                          "is_nsfw": {
                            "type": "boolean",
                            "examples": [
                              false
                            ]
                          }
                        }
                      },
                      "examples": [
                        [
                          {
                            "id": 12,
                            "name": "Batman",
                            "slug": "batman",
                            "start_year": 1939,
                            "end_year": null,
                            "status": "ongoing",
                            "type": "Series",
                            "image_url": "https://r2.versedb.com/uploads/titles/batman-12/batman-12-abc123-cover_md.webp",
                            "images": {
                              "cover_sm": "https://r2.versedb.com/uploads/titles/batman-12/batman-12-abc123-cover_sm.webp",
                              "cover_md": "https://r2.versedb.com/uploads/titles/batman-12/batman-12-abc123-cover_md.webp",
                              "cover_lg": "https://r2.versedb.com/uploads/titles/batman-12/batman-12-abc123-cover_lg.webp"
                            },
                            "average_rating": 4.3,
                            "series_count": 25,
                            "issues_count": 1450,
                            "content_rating_label": "15+",
                            "min_age": 15,
                            "is_nsfw": false
                          }
                        ]
                      ]
                    },
                    "meta": {
                      "type": "object",
                      "properties": {
                        "current_page": {
                          "type": "integer",
                          "examples": [
                            1
                          ]
                        },
                        "last_page": {
                          "type": "integer",
                          "examples": [
                            50
                          ]
                        },
                        "per_page": {
                          "type": "integer",
                          "examples": [
                            20
                          ]
                        },
                        "total": {
                          "type": "integer",
                          "examples": [
                            1000
                          ]
                        }
                      }
                    }
                  },
                  "examples": [
                    {
                      "data": [
                        {
                          "id": 12,
                          "name": "Batman",
                          "slug": "batman",
                          "start_year": 1939,
                          "end_year": null,
                          "status": "ongoing",
                          "type": "Series",
                          "image_url": "https://r2.versedb.com/uploads/titles/batman-12/batman-12-abc123-cover_md.webp",
                          "images": {
                            "cover_sm": "https://r2.versedb.com/uploads/titles/batman-12/batman-12-abc123-cover_sm.webp",
                            "cover_md": "https://r2.versedb.com/uploads/titles/batman-12/batman-12-abc123-cover_md.webp",
                            "cover_lg": "https://r2.versedb.com/uploads/titles/batman-12/batman-12-abc123-cover_lg.webp"
                          },
                          "average_rating": 4.3,
                          "series_count": 25,
                          "issues_count": 1450,
                          "content_rating_label": "15+",
                          "min_age": 15,
                          "is_nsfw": false
                        }
                      ],
                      "meta": {
                        "current_page": 1,
                        "last_page": 50,
                        "per_page": 20,
                        "total": 1000
                      }
                    }
                  ]
                }
              }
            },
            "headers": {
              "X-RateLimit-Limit": {
                "description": "Request quota per hour for your tier.",
                "schema": {
                  "type": "integer",
                  "examples": [
                    300
                  ]
                }
              },
              "X-RateLimit-Remaining": {
                "description": "Requests remaining in the current window.",
                "schema": {
                  "type": "integer",
                  "examples": [
                    299
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthenticated. The bearer token is missing, invalid, or revoked.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedError"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded. This endpoint allows 300/hour (free) or 1,000/hour (PRO). Wait for the number of seconds in the `Retry-After` header before retrying.",
            "headers": {
              "Retry-After": {
                "description": "Seconds to wait before retrying.",
                "schema": {
                  "type": "integer",
                  "examples": [
                    3600
                  ]
                }
              },
              "X-RateLimit-Limit": {
                "description": "Request quota per hour for your tier.",
                "schema": {
                  "type": "integer",
                  "examples": [
                    300
                  ]
                }
              },
              "X-RateLimit-Remaining": {
                "description": "Requests remaining in the current window.",
                "schema": {
                  "type": "integer",
                  "examples": [
                    0
                  ]
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TooManyRequestsError"
                }
              }
            }
          }
        },
        "tags": [
          "Titles"
        ]
      }
    },
    "/api/v1/titles/{title_id}": {
      "get": {
        "summary": "Get a specific title",
        "operationId": "getASpecificTitle",
        "description": "Returns: id, name, slug, start_year, end_year, status, type,\nimage_url, content_rating_label, min_age, is_nsfw, imprint_id, series_count,\nissues_count, average_rating, total_reviews, aliases\n\nUse relationship endpoints for richer data:\n- /titles/{id}/series - Get series in a title\n- /titles/{id}/issues - Get issues across all series in a title\n- /titles/{id}/creators - Get creators credited on the title\n- /titles/{id}/characters - Get characters associated with the title\n- /titles/{id}/teams - Get teams associated with the title",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "integer",
                          "examples": [
                            12
                          ]
                        },
                        "name": {
                          "type": "string",
                          "examples": [
                            "Batman"
                          ]
                        },
                        "slug": {
                          "type": "string",
                          "examples": [
                            "batman"
                          ]
                        },
                        "start_year": {
                          "type": "integer",
                          "examples": [
                            1939
                          ]
                        },
                        "end_year": {
                          "type": [
                            "string",
                            "null"
                          ],
                          "examples": [
                            null
                          ]
                        },
                        "status": {
                          "type": "string",
                          "examples": [
                            "ongoing"
                          ]
                        },
                        "type": {
                          "type": "string",
                          "examples": [
                            "Series"
                          ]
                        },
                        "image_url": {
                          "type": "string",
                          "examples": [
                            "https://r2.versedb.com/uploads/titles/batman-12/batman-12-abc123-cover_md.webp"
                          ]
                        },
                        "images": {
                          "type": "object",
                          "properties": {
                            "cover_sm": {
                              "type": "string",
                              "examples": [
                                "https://r2.versedb.com/uploads/titles/batman-12/batman-12-abc123-cover_sm.webp"
                              ]
                            },
                            "cover_md": {
                              "type": "string",
                              "examples": [
                                "https://r2.versedb.com/uploads/titles/batman-12/batman-12-abc123-cover_md.webp"
                              ]
                            },
                            "cover_lg": {
                              "type": "string",
                              "examples": [
                                "https://r2.versedb.com/uploads/titles/batman-12/batman-12-abc123-cover_lg.webp"
                              ]
                            }
                          }
                        },
                        "content_rating_label": {
                          "type": "string",
                          "examples": [
                            "15+"
                          ]
                        },
                        "min_age": {
                          "type": "integer",
                          "examples": [
                            15
                          ]
                        },
                        "is_nsfw": {
                          "type": "boolean",
                          "examples": [
                            false
                          ]
                        },
                        "imprint_id": {
                          "type": [
                            "string",
                            "null"
                          ],
                          "examples": [
                            null
                          ]
                        },
                        "series_count": {
                          "type": "integer",
                          "examples": [
                            25
                          ]
                        },
                        "issues_count": {
                          "type": "integer",
                          "examples": [
                            1450
                          ]
                        },
                        "average_rating": {
                          "type": "number",
                          "examples": [
                            4.3
                          ]
                        },
                        "aliases": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          },
                          "examples": [
                            [
                              "The Dark Knight",
                              "The Caped Crusader"
                            ]
                          ]
                        }
                      }
                    }
                  },
                  "examples": [
                    {
                      "data": {
                        "id": 12,
                        "name": "Batman",
                        "slug": "batman",
                        "start_year": 1939,
                        "end_year": null,
                        "status": "ongoing",
                        "type": "Series",
                        "image_url": "https://r2.versedb.com/uploads/titles/batman-12/batman-12-abc123-cover_md.webp",
                        "images": {
                          "cover_sm": "https://r2.versedb.com/uploads/titles/batman-12/batman-12-abc123-cover_sm.webp",
                          "cover_md": "https://r2.versedb.com/uploads/titles/batman-12/batman-12-abc123-cover_md.webp",
                          "cover_lg": "https://r2.versedb.com/uploads/titles/batman-12/batman-12-abc123-cover_lg.webp"
                        },
                        "content_rating_label": "15+",
                        "min_age": 15,
                        "is_nsfw": false,
                        "imprint_id": null,
                        "series_count": 25,
                        "issues_count": 1450,
                        "average_rating": 4.3,
                        "aliases": [
                          "The Dark Knight",
                          "The Caped Crusader"
                        ]
                      }
                    }
                  ]
                }
              }
            },
            "headers": {
              "X-RateLimit-Limit": {
                "description": "Request quota per hour for your tier.",
                "schema": {
                  "type": "integer",
                  "examples": [
                    300
                  ]
                }
              },
              "X-RateLimit-Remaining": {
                "description": "Requests remaining in the current window.",
                "schema": {
                  "type": "integer",
                  "examples": [
                    299
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthenticated. The bearer token is missing, invalid, or revoked.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedError"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "examples": [
                        "No query results for model [App\\Models\\Title]."
                      ]
                    }
                  },
                  "examples": [
                    {
                      "message": "No query results for model [App\\Models\\Title]."
                    }
                  ]
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded. This endpoint allows 300/hour (free) or 1,000/hour (PRO). Wait for the number of seconds in the `Retry-After` header before retrying.",
            "headers": {
              "Retry-After": {
                "description": "Seconds to wait before retrying.",
                "schema": {
                  "type": "integer",
                  "examples": [
                    3600
                  ]
                }
              },
              "X-RateLimit-Limit": {
                "description": "Request quota per hour for your tier.",
                "schema": {
                  "type": "integer",
                  "examples": [
                    300
                  ]
                }
              },
              "X-RateLimit-Remaining": {
                "description": "Requests remaining in the current window.",
                "schema": {
                  "type": "integer",
                  "examples": [
                    0
                  ]
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TooManyRequestsError"
                }
              }
            }
          }
        },
        "tags": [
          "Titles"
        ]
      },
      "parameters": [
        {
          "in": "path",
          "name": "title_id",
          "description": "The ID of the title.",
          "required": true,
          "schema": {
            "type": "integer",
            "examples": [
              147985
            ]
          }
        }
      ]
    },
    "/api/v1/series": {
      "get": {
        "summary": "List series.",
        "operationId": "listSeries",
        "description": "Returns paginated series with optional search and filtering.",
        "parameters": [
          {
            "in": "query",
            "name": "q",
            "description": "Search by series name.",
            "required": false,
            "schema": {
              "type": "string",
              "description": "Search by series name.",
              "examples": [
                "spider-man"
              ]
            }
          },
          {
            "in": "query",
            "name": "title_id",
            "description": "Filter by title ID.",
            "required": false,
            "schema": {
              "type": "integer",
              "description": "Filter by title ID.",
              "examples": [
                1
              ]
            }
          },
          {
            "in": "query",
            "name": "publisher_id",
            "description": "Filter by publisher ID.",
            "required": false,
            "schema": {
              "type": "integer",
              "description": "Filter by publisher ID.",
              "examples": [
                1
              ]
            }
          },
          {
            "in": "query",
            "name": "status",
            "description": "Filter by series status (Ongoing, Completed, Canceled).",
            "required": false,
            "schema": {
              "type": "string",
              "description": "Filter by series status (Ongoing, Completed, Canceled).",
              "examples": [
                "Ongoing"
              ]
            }
          },
          {
            "in": "query",
            "name": "genre_ids",
            "description": "Comma-separated genre IDs. Returns a series carrying any one of them.",
            "required": false,
            "schema": {
              "type": "string",
              "description": "Comma-separated genre IDs. Returns a series carrying any one of them.",
              "examples": [
                "3,11"
              ]
            }
          },
          {
            "in": "query",
            "name": "publisher_ids",
            "description": "Comma-separated publisher IDs. Returns a series published by any one of them; use this instead of publisher_id to pass more than one.",
            "required": false,
            "schema": {
              "type": "string",
              "description": "Comma-separated publisher IDs. Returns a series published by any one of them; use this instead of publisher_id to pass more than one.",
              "examples": [
                "1,4"
              ]
            }
          },
          {
            "in": "query",
            "name": "creator_ids",
            "description": "Comma-separated creator IDs. Returns a series credited to any one of them.",
            "required": false,
            "schema": {
              "type": "string",
              "description": "Comma-separated creator IDs. Returns a series credited to any one of them.",
              "examples": [
                "812,1907"
              ]
            }
          },
          {
            "in": "query",
            "name": "character_ids",
            "description": "Comma-separated character IDs. Returns a series any one of them appears in.",
            "required": false,
            "schema": {
              "type": "string",
              "description": "Comma-separated character IDs. Returns a series any one of them appears in.",
              "examples": [
                "55,204"
              ]
            }
          },
          {
            "in": "query",
            "name": "languages",
            "description": "Comma-separated ISO 639-1 language codes. Returns a series published in any one of them.",
            "required": false,
            "schema": {
              "type": "string",
              "description": "Comma-separated ISO 639-1 language codes. Returns a series published in any one of them.",
              "examples": [
                "en,ja"
              ]
            }
          },
          {
            "in": "query",
            "name": "medium",
            "description": "Filter by medium (comic, manga, manhwa, manhua, bande_dessinee, magazine).",
            "required": false,
            "schema": {
              "type": "string",
              "description": "Filter by medium (comic, manga, manhwa, manhua, bande_dessinee, magazine).",
              "examples": [
                "manga"
              ]
            }
          },
          {
            "in": "query",
            "name": "publication_type",
            "description": "Filter by publication type (regular_series, limited_series, one_shot, graphic_novel, graphic_novel_series, collected_edition, special).",
            "required": false,
            "schema": {
              "type": "string",
              "description": "Filter by publication type (regular_series, limited_series, one_shot, graphic_novel, graphic_novel_series, collected_edition, special).",
              "examples": [
                "limited_series"
              ]
            }
          },
          {
            "in": "query",
            "name": "format",
            "description": "Filter by physical format (Standard, Deluxe, Omnibus, TPB, Hardcover, Other).",
            "required": false,
            "schema": {
              "type": "string",
              "description": "Filter by physical format (Standard, Deluxe, Omnibus, TPB, Hardcover, Other).",
              "examples": [
                "Omnibus"
              ]
            }
          },
          {
            "in": "query",
            "name": "start_year",
            "description": "Filter by the year the series began.",
            "required": false,
            "schema": {
              "type": "integer",
              "description": "Filter by the year the series began.",
              "examples": [
                2018
              ]
            }
          },
          {
            "in": "query",
            "name": "end_year",
            "description": "Filter by the year the series ended.",
            "required": false,
            "schema": {
              "type": "integer",
              "description": "Filter by the year the series ended.",
              "examples": [
                2022
              ]
            }
          },
          {
            "in": "query",
            "name": "decade",
            "description": "Filter by the decade the series began, written as a four-digit year ending in s. Accepts 1900s through the current decade.",
            "required": false,
            "schema": {
              "type": "string",
              "description": "Filter by the decade the series began, written as a four-digit year ending in s. Accepts 1900s through the current decade.",
              "examples": [
                "1990s"
              ]
            }
          },
          {
            "in": "query",
            "name": "hide_unreleased",
            "description": "Return only series whose start year has already arrived.",
            "required": false,
            "schema": {
              "type": "boolean",
              "description": "Return only series whose start year has already arrived.",
              "examples": [
                true
              ]
            }
          },
          {
            "in": "query",
            "name": "sort",
            "description": "Sort field (name, start_year, average_rating, latest_release_date, cached_issues_count).",
            "required": false,
            "schema": {
              "type": "string",
              "description": "Sort field (name, start_year, average_rating, latest_release_date, cached_issues_count).",
              "examples": [
                "start_year"
              ]
            }
          },
          {
            "in": "query",
            "name": "direction",
            "description": "Sort direction (asc, desc).",
            "required": false,
            "schema": {
              "type": "string",
              "description": "Sort direction (asc, desc).",
              "examples": [
                "desc"
              ]
            }
          },
          {
            "in": "query",
            "name": "limit",
            "description": "Number of results per page (max 50).",
            "required": false,
            "schema": {
              "type": "integer",
              "description": "Number of results per page (max 50).",
              "examples": [
                20
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "integer",
                            "examples": [
                              123
                            ]
                          },
                          "title_id": {
                            "type": "integer",
                            "examples": [
                              45
                            ]
                          },
                          "name": {
                            "type": "string",
                            "examples": [
                              "Amazing Spider-Man"
                            ]
                          },
                          "slug": {
                            "type": "string",
                            "examples": [
                              "amazing-spider-man-2018"
                            ]
                          },
                          "number": {
                            "type": "integer",
                            "examples": [
                              6
                            ]
                          },
                          "start_year": {
                            "type": "integer",
                            "examples": [
                              2018
                            ]
                          },
                          "end_year": {
                            "type": "integer",
                            "examples": [
                              2022
                            ]
                          },
                          "cover_url": {
                            "type": "string",
                            "examples": [
                              "https://..."
                            ]
                          },
                          "publication_type": {
                            "type": "string",
                            "examples": [
                              "ongoing"
                            ]
                          },
                          "format": {
                            "type": "string",
                            "examples": [
                              "comic"
                            ]
                          },
                          "status": {
                            "type": "string",
                            "examples": [
                              "ended"
                            ]
                          },
                          "original_language": {
                            "type": "string",
                            "examples": [
                              "en"
                            ]
                          },
                          "cached_issues_count": {
                            "type": "integer",
                            "examples": [
                              75
                            ]
                          },
                          "average_rating": {
                            "type": "number",
                            "examples": [
                              4.2
                            ]
                          },
                          "total_reviews": {
                            "type": "integer",
                            "examples": [
                              150
                            ]
                          },
                          "issues_average_rating": {
                            "type": "number",
                            "examples": [
                              4.05
                            ]
                          },
                          "issues_rated_count": {
                            "type": "integer",
                            "examples": [
                              812
                            ]
                          },
                          "content_rating_label": {
                            "type": "string",
                            "examples": [
                              "15+"
                            ]
                          },
                          "min_age": {
                            "type": "integer",
                            "examples": [
                              15
                            ]
                          },
                          "is_nsfw": {
                            "type": "boolean",
                            "examples": [
                              false
                            ]
                          }
                        }
                      },
                      "examples": [
                        [
                          {
                            "id": 123,
                            "title_id": 45,
                            "name": "Amazing Spider-Man",
                            "slug": "amazing-spider-man-2018",
                            "number": 6,
                            "start_year": 2018,
                            "end_year": 2022,
                            "cover_url": "https://...",
                            "publication_type": "ongoing",
                            "format": "comic",
                            "status": "ended",
                            "original_language": "en",
                            "cached_issues_count": 75,
                            "average_rating": 4.2,
                            "total_reviews": 150,
                            "issues_average_rating": 4.05,
                            "issues_rated_count": 812,
                            "content_rating_label": "15+",
                            "min_age": 15,
                            "is_nsfw": false
                          }
                        ]
                      ]
                    },
                    "meta": {
                      "type": "object",
                      "properties": {
                        "current_page": {
                          "type": "integer",
                          "examples": [
                            1
                          ]
                        },
                        "last_page": {
                          "type": "integer",
                          "examples": [
                            5
                          ]
                        },
                        "per_page": {
                          "type": "integer",
                          "examples": [
                            20
                          ]
                        },
                        "total": {
                          "type": "integer",
                          "examples": [
                            100
                          ]
                        }
                      }
                    }
                  },
                  "examples": [
                    {
                      "data": [
                        {
                          "id": 123,
                          "title_id": 45,
                          "name": "Amazing Spider-Man",
                          "slug": "amazing-spider-man-2018",
                          "number": 6,
                          "start_year": 2018,
                          "end_year": 2022,
                          "cover_url": "https://...",
                          "publication_type": "ongoing",
                          "format": "comic",
                          "status": "ended",
                          "original_language": "en",
                          "cached_issues_count": 75,
                          "average_rating": 4.2,
                          "total_reviews": 150,
                          "issues_average_rating": 4.05,
                          "issues_rated_count": 812,
                          "content_rating_label": "15+",
                          "min_age": 15,
                          "is_nsfw": false
                        }
                      ],
                      "meta": {
                        "current_page": 1,
                        "last_page": 5,
                        "per_page": 20,
                        "total": 100
                      }
                    }
                  ]
                }
              }
            },
            "headers": {
              "X-RateLimit-Limit": {
                "description": "Request quota per hour for your tier.",
                "schema": {
                  "type": "integer",
                  "examples": [
                    300
                  ]
                }
              },
              "X-RateLimit-Remaining": {
                "description": "Requests remaining in the current window.",
                "schema": {
                  "type": "integer",
                  "examples": [
                    299
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthenticated. The bearer token is missing, invalid, or revoked.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedError"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded. This endpoint allows 300/hour (free) or 1,000/hour (PRO). Wait for the number of seconds in the `Retry-After` header before retrying.",
            "headers": {
              "Retry-After": {
                "description": "Seconds to wait before retrying.",
                "schema": {
                  "type": "integer",
                  "examples": [
                    3600
                  ]
                }
              },
              "X-RateLimit-Limit": {
                "description": "Request quota per hour for your tier.",
                "schema": {
                  "type": "integer",
                  "examples": [
                    300
                  ]
                }
              },
              "X-RateLimit-Remaining": {
                "description": "Requests remaining in the current window.",
                "schema": {
                  "type": "integer",
                  "examples": [
                    0
                  ]
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TooManyRequestsError"
                }
              }
            }
          }
        },
        "tags": [
          "Series"
        ]
      }
    },
    "/api/v1/series/{series_id}": {
      "get": {
        "summary": "Get series details.",
        "operationId": "getSeriesDetails",
        "description": "Returns a single series with full details including related title, publishers, and genres.\nFor relationship data (issues, creators, characters), use the relationship endpoints.",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "integer",
                          "examples": [
                            123
                          ]
                        },
                        "title_id": {
                          "type": "integer",
                          "examples": [
                            45
                          ]
                        },
                        "name": {
                          "type": "string",
                          "examples": [
                            "Amazing Spider-Man"
                          ]
                        },
                        "slug": {
                          "type": "string",
                          "examples": [
                            "amazing-spider-man-2018"
                          ]
                        },
                        "number": {
                          "type": "integer",
                          "examples": [
                            6
                          ]
                        },
                        "start_year": {
                          "type": "integer",
                          "examples": [
                            2018
                          ]
                        },
                        "end_year": {
                          "type": "integer",
                          "examples": [
                            2022
                          ]
                        },
                        "cover_url": {
                          "type": "string",
                          "examples": [
                            "https://..."
                          ]
                        },
                        "publisher_description": {
                          "type": "string",
                          "examples": [
                            "The publisher's own standing synopsis for the run, verbatim, or null"
                          ]
                        },
                        "publication_type": {
                          "type": "string",
                          "examples": [
                            "ongoing"
                          ]
                        },
                        "format": {
                          "type": "string",
                          "examples": [
                            "comic"
                          ]
                        },
                        "status": {
                          "type": "string",
                          "examples": [
                            "ended"
                          ]
                        },
                        "original_language": {
                          "type": "string",
                          "examples": [
                            "en"
                          ]
                        },
                        "cached_issues_count": {
                          "type": "integer",
                          "examples": [
                            75
                          ]
                        },
                        "average_rating": {
                          "type": "number",
                          "examples": [
                            4.2
                          ]
                        },
                        "total_reviews": {
                          "type": "integer",
                          "examples": [
                            150
                          ]
                        },
                        "issues_average_rating": {
                          "type": "number",
                          "examples": [
                            4.05
                          ]
                        },
                        "issues_rated_count": {
                          "type": "integer",
                          "examples": [
                            812
                          ]
                        },
                        "content_rating_label": {
                          "type": "string",
                          "examples": [
                            "15+"
                          ]
                        },
                        "min_age": {
                          "type": "integer",
                          "examples": [
                            15
                          ]
                        },
                        "is_nsfw": {
                          "type": "boolean",
                          "examples": [
                            false
                          ]
                        },
                        "cached_creators_count": {
                          "type": "integer",
                          "examples": [
                            12
                          ]
                        },
                        "cached_characters_count": {
                          "type": "integer",
                          "examples": [
                            24
                          ]
                        },
                        "cached_teams_count": {
                          "type": "integer",
                          "examples": [
                            3
                          ]
                        },
                        "lists_count": {
                          "type": "integer",
                          "examples": [
                            8
                          ]
                        },
                        "title": {
                          "type": "object",
                          "properties": {
                            "id": {
                              "type": "integer",
                              "examples": [
                                45
                              ]
                            },
                            "name": {
                              "type": "string",
                              "examples": [
                                "Amazing Spider-Man"
                              ]
                            },
                            "url_slug": {
                              "type": "string",
                              "examples": [
                                "amazing-spider-man"
                              ]
                            }
                          }
                        },
                        "publisher": {
                          "type": "object",
                          "properties": {
                            "id": {
                              "type": "integer",
                              "examples": [
                                1
                              ]
                            },
                            "name": {
                              "type": "string",
                              "examples": [
                                "Marvel"
                              ]
                            },
                            "slug": {
                              "type": "string",
                              "examples": [
                                "marvel"
                              ]
                            }
                          }
                        },
                        "publishers": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "integer",
                                "examples": [
                                  1
                                ]
                              },
                              "name": {
                                "type": "string",
                                "examples": [
                                  "Marvel"
                                ]
                              },
                              "slug": {
                                "type": "string",
                                "examples": [
                                  "marvel"
                                ]
                              }
                            }
                          },
                          "examples": [
                            [
                              {
                                "id": 1,
                                "name": "Marvel",
                                "slug": "marvel"
                              }
                            ]
                          ]
                        },
                        "genres": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "integer",
                                "examples": [
                                  1
                                ]
                              },
                              "name": {
                                "type": "string",
                                "examples": [
                                  "Superhero"
                                ]
                              }
                            }
                          },
                          "examples": [
                            [
                              {
                                "id": 1,
                                "name": "Superhero"
                              }
                            ]
                          ]
                        },
                        "imprint": {
                          "type": [
                            "string",
                            "null"
                          ],
                          "examples": [
                            null
                          ]
                        },
                        "effective_imprint": {
                          "type": [
                            "string",
                            "null"
                          ],
                          "examples": [
                            null
                          ]
                        },
                        "last_edited_by": {
                          "type": "object",
                          "properties": {
                            "id": {
                              "type": "integer",
                              "examples": [
                                42
                              ]
                            },
                            "name": {
                              "type": "string",
                              "examples": [
                                "Jane Doe"
                              ]
                            },
                            "username": {
                              "type": "string",
                              "examples": [
                                "janedoe"
                              ]
                            },
                            "avatar_url": {
                              "type": "string",
                              "examples": [
                                "https://..."
                              ]
                            }
                          }
                        },
                        "creators": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "integer",
                                "examples": [
                                  789
                                ]
                              },
                              "name": {
                                "type": "string",
                                "examples": [
                                  "Nick Spencer"
                                ]
                              },
                              "slug": {
                                "type": "string",
                                "examples": [
                                  "nick-spencer"
                                ]
                              },
                              "photo_url": {
                                "type": "string",
                                "examples": [
                                  "https://..."
                                ]
                              },
                              "role": {
                                "type": "string",
                                "examples": [
                                  "Writer"
                                ]
                              },
                              "is_uncredited": {
                                "type": "boolean",
                                "examples": [
                                  false
                                ]
                              }
                            }
                          },
                          "examples": [
                            [
                              {
                                "id": 789,
                                "name": "Nick Spencer",
                                "slug": "nick-spencer",
                                "photo_url": "https://...",
                                "role": "Writer",
                                "is_uncredited": false
                              }
                            ]
                          ]
                        },
                        "characters": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "integer",
                                "examples": [
                                  456
                                ]
                              },
                              "name": {
                                "type": "string",
                                "examples": [
                                  "Spider-Man (Peter Parker)"
                                ]
                              },
                              "slug": {
                                "type": "string",
                                "examples": [
                                  "spider-man-peter-parker"
                                ]
                              },
                              "real_name": {
                                "type": "string",
                                "examples": [
                                  "Peter Parker"
                                ]
                              },
                              "aliases": {
                                "type": "array",
                                "examples": [
                                  []
                                ],
                                "items": {}
                              },
                              "image_url": {
                                "type": "string",
                                "examples": [
                                  "https://..."
                                ]
                              },
                              "appearances_count": {
                                "type": "integer",
                                "examples": [
                                  75
                                ]
                              }
                            }
                          },
                          "examples": [
                            [
                              {
                                "id": 456,
                                "name": "Spider-Man (Peter Parker)",
                                "slug": "spider-man-peter-parker",
                                "real_name": "Peter Parker",
                                "aliases": [],
                                "image_url": "https://...",
                                "appearances_count": 75
                              }
                            ]
                          ]
                        },
[...]
